<section id="about" class="about-container">
  <div class="about-content">
    <div class="about-text">
      <h2 class="section-title fade-in" i18n="@@aboutTitle">About Us</h2>
      <div class="fade-in">
        <p i18n="@@aboutContent">Flexotech, founded in 1994, produces and sells adhesives. We advise companies and offer solutions for many adhesive technology questions and problems. We also have experience with many production facilities where we work with different adhesive processing methods. Markets we serve include: Filters, Textiles, Packaging, Labeling, Wood, and some specialties.</p>
      </div>

      <h3 class="subsection-title fade-in" i18n="@@productGroupsTitle">Product Groups</h3>
      <ul class="product-list fade-in">
        <li i18n="@@productGroup1">Polyurethane: PU hotmelt, 100% PU, PU dispersions and 2K PU systems.</li>
        <li i18n="@@productGroup2">EVA's: Hotmelts and dispersions.</li>
        <li i18n="@@productGroup3">Polyolefine: Hotmelts.</li>
        <li i18n="@@productGroup4">Rubber: Hotmelts.</li>
        <li i18n="@@productGroup5">Epoxy: 2K systems.</li>
        <li i18n="@@productGroup6">PvaC: Dispersions 1 and 2K products.</li>
      </ul>

      <div class="experience-content fade-in">
        <p i18n="@@experienceContent">We have experience with many production facilities where we work with different adhesive processing methods.</p>
      </div>

      <h3 class="subsection-title fade-in" i18n="@@marketsTitle">Market Segments</h3>
      <ul class="market-list fade-in">
        <li i18n="@@market1">Air Filters</li>
        <li i18n="@@market2">Fluid Filters</li>
        <li i18n="@@market3">Textiles</li>
        <li i18n="@@market4">Packaging</li>
        <li i18n="@@market5">Labeling</li>
        <li i18n="@@market6">Wood</li>
      </ul>
    </div>
    <div class="about-image-container">
      <div class="image-rotator">
        <img src="assets/slide2.jpg" alt="Flexotech Image 1" class="rotating-image">
        <img src="assets/slide3.jpg" alt="Flexotech Image 2" class="rotating-image">
        <img src="assets/slide4.jpg" alt="Flexotech Image 3" class="rotating-image">
      </div>
      <div class="image-overlay"></div>
    </div>
  </div>
</section>
