<section id="markets" class="section">
  <h2 class="section-title fade-in" i18n="@@marketSegmentsTitle">Our Market Segments</h2>
  <p i18n="@@marketSegmentsIntro">We serve a variety of markets, including filters, textiles, packaging, labeling, wood, and other specialty segments.</p>
  <p i18n="@@marketSegmentsIntro2">Our Marketsegments are divided in:</p>
  <div class="card-container">
    <div class="card" #card>
      <div class="card-content">
        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
        <h3 i18n="@@filterManufacturing">Filtermanufacturing</h3>
        <p i18n="@@filterManufacturingDesc">Our products are being used for production of:</p>
        <ul>
          <li i18n="@@airFilters">Airfilters f.e. in cleanrooms, Aerospace, automotive and f.e. in gas protectionfilters.</li>
          <li i18n="@@fluidFilters">Filters for fluids: water, beverages, pharma and medical research.</li>
        </ul>
      </div>
    </div>

    <div class="card" #card>
      <div class="card-content">
        <fa-icon [icon]="['fas', 'tshirt']"></fa-icon>
        <h3 i18n="@@textiles">Textiles</h3>
        <p i18n="@@textilesDesc">We supply our adhesives to textileproducers for laminations of different kinds of textiles and whether or not in combination with breathing membranes, for application in sports and utilitywear, lingerie, shoes, furniture, etc.</p>
      </div>
    </div>

    <div class="card" #card>
      <div class="card-content">
        <fa-icon [icon]="['fas', 'box-open']"></fa-icon>
        <h3 i18n="@@packaging">Packaging</h3>
        <p i18n="@@packagingDesc">Labelling, film/foillamination, beverage and fluidpackaging, paper and cardboard boxes, etc.</p>
      </div>
    </div>

    <div class="card" #card>
      <div class="card-content">
        <fa-icon [icon]="['fas', 'tag']"></fa-icon>
        <h3 i18n="@@labelling">Labelling</h3>
        <p i18n="@@labellingDesc">We offer an extensive range of PSA systems for various foils, labels, and tapes.</p>
      </div>
    </div>

    <div class="card" #card>
      <div class="card-content">
        <fa-icon [icon]="['fas', 'tree']"></fa-icon>
        <h3 i18n="@@wood">Wood</h3>
        <p i18n="@@woodDesc">Profilewrapping, edgebanding, wood on wood, parquet and furniture.</p>
      </div>
    </div>

    <div class="card" #card>
      <div class="card-content">
        <fa-icon [icon]="['fas', 'lightbulb']"></fa-icon>
        <h3 i18n="@@specialApplications">Special Applications</h3>
        <p i18n="@@specialApplicationsDesc">We're always ready to partner with you to find or develop specialized adhesive solutions for your unique applications.</p>
      </div>
    </div>
  </div>
</section>
